<!DOCTYPE html> 
<html lang="en"> <head>     
    <meta charset="UTF-8">     
    <title>My Website - About</title>     
    <link rel="stylesheet" href="/static/css/app.css"> 
</head> 
<body>     
    <h1>Jamaal Henry</h1>     
    <p>I am a second year computer science student. My interests include sports such as basketball, football. I also spend alot of my time playing video games and browsing the internet. I am currently suffering from a serious case of Imposter Syndrome.</p> 
</body> 
</html> 